// 重置浏览器默认样式文件
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
    font-size: 14px;
    background: #f8f8f8;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 10px;
    outline-offset: -2px;
}

::-webkit-scrollbar-button {
    display: none;
}
